html {
  scroll-behavior: smooth;
}

.input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ec5413;
  background: #1c120d;
  color: white;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid #ec5413;
  border-radius: 0.5rem;
  background: #2a1a13;
  font-weight: bold;
  text-align: center;
}
