html {
  scroll-behavior: smooth;
}

.input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ec5413;
  background: #1c120d;
  color: white;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid #ec5413;
  border-radius: 0.5rem;
  background: #2a1a13;
  font-weight: bold;
  text-align: center;
}

.glow-button {
  box-shadow: 0 0 10px #ec5413;
  transition: 0.3s;
}
.glow-button:hover {
  box-shadow: 0 0 20px #ff6a2e;
}

.btn-primary {
  padding: 1rem 3rem;   /* height (top/bottom), width (left/right) */
  font-size: 1.25rem;   /* text size */
  border-radius: 0.5rem;
  background-color: #ec5413;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.btn-primary:hover {
  background-color: #ff6a2e;
}

#hero-tagline {
  transition: opacity 1s ease-in-out;
}
/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
